

<div class="container">
    <div class="row">
      <div class="card" style="width: 100%;height: 100%;">

        <div class="card-body">

          <div class="container">
            <img src="./assets/logoest.png" alt="LogoEst" class="img-fluid"/>
            <div class="row">

              <button class="col-4 btn1" style="border-top-left-radius: 20px; border-bottom-left-radius: 20px; ">
                <a href="/app-ajouter-etudiant" link="/app-ajouter-etudiant" routerlink="/app-ajouter-etudiant" routerlinkactive="active">Ajouter Etudiant</a>
              </button>
              <button class="col-4 btn1">
                <a href="/list-etudiant" link="/list-etudiant" routerlink="/list-etudiant" routerlinkactive="active">Liste des Etudiant</a>
              </button>
              <button class="col-4 btn1" style="border-top-right-radius: 20px; border-bottom-right-radius: 20px; ">
                <a href="/list-absence" link="/list-absence" routerlink="/list-absence" routerlinkactive="active">Liste des Absence</a>
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>
</div>
